{% extends '@MainMain/index.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">Админ панель</h3> <br>

            <div class="col-md-4 yourbalans">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">На вашем балансе:</h3>
                    </div>
                    <div class="panel-body"><h2 class="text-center" style="color:green; margin-bottom: 0; margin-top: 0;"> {{ app.user.wallet.balance }}$</h2> </div>
                </div>
            </div>

            <div class="col-md-4 yourbalans">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">На вашем балансе:</h3>
                    </div>
                    <div class="panel-body"><h2 class="text-center" style="color:green; margin-bottom: 0; margin-top: 0;"> {{ app.user.wallet.balance }}$</h2> </div>
                </div>
            </div>

            <div class="col-md-4 yourbalans">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">На вашем балансе:</h3>
                    </div>
                    <div class="panel-body"><h2 class="text-center" style="color:green; margin-bottom: 0; margin-top: 0;"> {{ app.user.wallet.balance }}$</h2> </div>
                </div>
            </div>

            <div class="col-md-4 yourbalans">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">На вашем балансе:</h3>
                    </div>
                    <div class="panel-body"><h2 class="text-center" style="color:green; margin-bottom: 0; margin-top: 0;"> {{ app.user.wallet.balance }}$</h2> </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}