{% extends '@MainMain/layout.html.twig' %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="{{ path('main_reset_password_save', {'userid': userid}) }}" style="margin: 50px auto; max-width: 350px; border: 1px solid rgb(221, 221, 221); box-shadow: 4px 4px 1px #eee; border-radius: 3px; padding: 10px 30px 0 15px;" >

                    {% if zm is defined %}
                        <div class="alert alert-warning">
                            Введите одинаковые пароли в обоих полях!
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <div style="margin-bottom: 10px; font-size: 1.1em;">Новый пароль:</div>
                        <input type="password" name="newPassword" class="form-control" pattern="[A-Za-z0-9_-!@#$%^&()]{5,30}" required>
                    </div>
                    <div class="form-group">
                        <div style="margin-bottom: 10px; font-size: 1.1em;">Повторите новый пароль:</div>
                        <input type="password" name="repeatNewPassword" class="form-control" pattern="[A-Za-z0-9_-!@#$%^&()]{5,30}" required>
                    </div>

                    <div style="margin: 40px 0;">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
