{% extends '@MainMain/layout.html.twig' %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}
    <h1 align="center"><b>USER PAGE</b></h1>
    <h2 align="center"><b><a href="{{ path('main_logout') }}">Logout</a></b></h2>
{% endblock %}