{% extends '@MainMain/index.html.twig' %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}
    <form>
        <button formaction="{{ path('main_activate_acount') }}" formmethod="post" > Activate </button>
    </form>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>v
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>dadwdawda<br>dadwdawda<br>dadwdawda<br>
    dadwdawda<br>
{% endblock %}